@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
 padding: 0;
 margin: 0; 
 box-sizing: border-box;
 font-family: poppins;
}

 .container{
    height:100vh;
    width:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 h1{
    margin-bottom:20px;
    text-decoration:underline;
 }
.Calculator{
    height:25rem;
    width:20rem;
    background-color: rgb(241,240,241);
    padding:15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#InputField {
    height: 3rem;
    width:18rem;
    margin-bottom:15px;
}
#InputField input{
    height:100%;
    width:100%;
    text-align:right;
    padding-right:5px;
    border-style: none;
    font-size:1.5rem;
}
.grey-btn {
    background-color: rgb(220, 221, 220);
}

.white-btn {
    background-color: whitesmoke;
}

.yellow-btn {
    background-color: rgb(255, 205, 1);
}

.buttons{
    display: flex;
    margin-bottom:10px;
}
.buttons button{
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    height:50px;
    width:60px;
    cursor: pointer;
}
.buttons button:hover{
    background-color: white;
    color: black;
}